body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0b111e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-box {
    text-align: center;
    background: #171f2f;
    padding: 60px 50px;
    border-radius: 40px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
    width: 300px;
}

#cityName {
    font-size: 1.4rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
    color: #94a3b8;
    font-weight: 700;
}

.temp {
    font-size: 7rem;
    font-weight: 800;
    margin: 10px 0;
    background: linear-gradient(to bottom, #ffffff, #94a3b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info {
    font-size: 1.2rem;
    color: #38bdf8;
    font-weight: 600;
    margin-top: 20px;
}
