body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a; /* Қараңғы көк фон */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-box {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 50px;
    border-radius: 40px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

#cityName {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #94a3b8;
}

.temp {
    font-size: 6rem;
    font-weight: 800;
    margin: 10px 0;
    /* Градиентті мәтін */
    background: linear-gradient(to bottom, #fff, #94a3b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info {
    font-size: 1.1rem;
    color: #38bdf8;
    font-weight: 500;
}
